*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib
*.pdb
*.ilk
*.exp

/build/
/out/
/bin/
/lib/
/cmake-build-*/

*.log
*.tmp
*.cache

/test_results/

/docs/doxygen/

*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/

*.depend
*.layout
*.cbp

.idea/
cmake-build-*/

.project
.cproject
.settings/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/

*.pro.user*
*.qbs.user*
*.qmake.stash

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.cache
*.config

configure
Makefile
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
compile_commands.json

*.html
*.pdf

*.local
